
--- Constraints for onboarding_notes ---
[onboarding_notes_pkey]
PRIMARY KEY (id)

[onboarding_notes_employee_onboarding_id_fkey]
FOREIGN KEY (employee_onboarding_id) REFERENCES employee_onboardings(id)

[onboarding_notes_admin_id_fkey]
FOREIGN KEY (admin_id) REFERENCES users(id)


--- Constraints for employee_onboardings ---
[employee_onboardings_pkey]
PRIMARY KEY (id)

[employee_onboardings_user_id_fkey]
FOREIGN KEY (user_id) REFERENCES users(id)

[employee_onboardings_workflow_id_fkey]
FOREIGN KEY (workflow_id) REFERENCES onboarding_workflows(id)

